{{<layout}}

{{$pageTitle}}
  GOV.UK Service Manual: Agile working : Moving to agile
{{/pageTitle}}

{{$content}}

<div id="global-breadcrumb" class="breadcrumb">
  <ol role="breadcrumbs" class="group">
    <li><a href="/">Home</a></li>
    <li><strong>Agile working</strong></li>
  </ol>
</div>

<main id="content" role="main">

  <h1 class="heading-xlarge">Agile working</h1>
   
  <div class="grid-row">

    <div class="column-two-thirds">
      <p class="lede">
        Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna.
      </p>

        <ol class="list-main-contents">
          <li>
            <a href="/agile-working/what-is-agile">What is agile?</a>
            <p>The agile working methodologies</p>
          </li>
          <li>
            <a href="/agile-working/why-agile-works">Why agile works</a>
            <p>Advantages of using agile</p>
          </li>          
          <li>
            <a href="/agile-working/moving-to-agile/agile-training">Moving to agile</a>
            <p>How to implement agile in your team and organisation</p>
          </li>          
          <li>
            <a href="/agile-working/working-agile-teams/team-structure">Working in agile teams</a>
            <p>Working collaboratively</p>
          </li>          
          <li>
            <a href="/agile-working/agile-governance">Agile governance</a>
            <p>Enabling service delivery teams</p>
          </li>        
        </ol>





      

    </div>
  </div>

</main>

{{/content}}

{{/layout}}
