{{<layout}}

{{$pageTitle}}
  GOV.UK Service Manual: Agile working : Agile Governance
{{/pageTitle}}

{{$content}}

<div id="global-breadcrumb" class="breadcrumb">
  <ol role="breadcrumbs" class="group">
    <li><a href="/">Home</a></li>
    <li><a href="/">Agile working</a></li>
    <li><strong><a href="/">Agile governance</a></strong></li>
  </ol>
</div>

<main id="content" role="main">

  <h1 class="heading-xlarge">Agile working</h1>
   <nav class="page-navigation">
    <ol>
      <li class="active">
          <span class="part-number">1.</span>
          <a href="/agile-working/what-is-agile">What is agile working?</a>
        </li>
        <li>
          <span class="part-number">2.</span>
          <a href="/agile-working/why-agile-works">Why agile works</a>
        </li>
        <li>
          <span class="part-number">3.</span>
          <a href="/agile-working/moving-to-agile">Moving to agile</a>
        </li>
    </ol>
    <ol start="4">
      <li>
          <span class="part-number">4.</span>
          <a href="/agile-working/working-agile-team">Working in agile teams</a>
      </li>
      <li>
        <span class="part-number">5.</span>
        <span>Agile governance</span>
      </li>
    </ol>
  </nav>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h2 class="heading-large" id="about-the-a-to-z">5. Agile governance</h2>
      <p>
        Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna.
      </p>
      <h3 class="heading-small">Subtitle in here</h3>
      <p>
        Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna.
      </p>

      <div class="js-collapsible-collection subsection-collection" data-collapse-depth="1">
        <div class="collapsible-subsections">
          <div class="govspeak">

            <h2 class="heading-medium">Title of sub section 1</h2>
             <p>
              Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna.
            </p>
            <p>
              Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna.
            </p>

            <h2 class="heading-medium">Title of sub section 2</h2>
             <p>
              Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna.
            </p>
            <p>
              Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna.
            </p>

            <h2 class="heading-medium">Title of sub section 3</h2>
             <p>
              Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna.
            </p>
            <p>
              Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna.
            </p>

            <h2 class="heading-medium">Title of sub section 4</h2>
            <p>
              Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna.
            </p>
            <p>
              Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna.
            </p>

          </div>

        </div>
      </div>

    </div>
  </div>

</main>

{{/content}}

{{/layout}}
