{{<layout}}

{{$pageTitle}}
  GOV.UK Service Manual: Agile working : Working in agile teams
{{/pageTitle}}

{{$content}}

<div id="global-breadcrumb" class="breadcrumb">
  <ol role="breadcrumbs" class="group">
    <li><a href="/">Home</a></li>
    <li><a href="/agile-working/agile-home">Agile working</a></li>
    <li><strong>Moving to agile</strong></li>
  </ol>
</div>

<main id="content" role="main">

  <h1 class="heading-xlarge">Agile working</h1>
   

  <div class="grid-row">

    <div class="column-two-thirds" style="margin-bottom:15px;">
      <h2 class="heading-large" id="about-the-a-to-z">3. Moving to agile</h2>
      <p class="lede">
        Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna.
      </p>
    </div>

    <div class="column-third" style="clear:both;">
      <p>Page contents:</p>
        <ol class="list-contents">
          <li><a href="#agile-team-structure">Agile team structure</a></li>
          <li><a href="#what-agile-means-for-your-role">What agile means for your role</a></li>
          <li><a href="#tools-for-agile-teams">Tools for agile teams</a></li>
        </ol>
    </div>

    <div class="column-two-thirds">

<!--       <h2 class="heading-large" id="about-the-a-to-z">4. Working in agile teams</h2>
      <p>
        Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna.
      </p>
 -->

      <h2 class="heading-medium" id="agile-team-structure" style="margin-top:0px;">Agile team structure</h2>
      <p>
        You need the right team in place to deliver a successful service.
      </p>
      <h3 class="heading-small">Building a delivery team</h3>
      <p>
        There are a range of skills and capabilities that need to come together to successfully deliver a service. 
      </p>

      <p>
        The focus is likely to shift as you move through the different phases of development – from discovery, through alphas and betas, preparing for launch, and then running and iteratively improving the live service. 
      </p>

      <p>
        The core team is likely to remain fairly constant, but may need to draw in additional resource and expertise along the way.
      </p>

      <h3 class="heading-small">The core team</h3>
      <p>
        There is no hard and fast rule on the roles or team structure needed to fulfil these functions, but a core team will consist of:
      </p>
      <ol class="list-bullet">
        <li>a service manager and/or product manager</li>
        <li>a delivery manager and/or scrum master</li>
        <li>one or more designers</li>
        <li>one or more user researchers</li>
        <li>one or more developers</li>
        <li>one or more content designers</li>
      </ol>
      <h3 class="heading-small">The team should be supported by:</h3>
      <ol class="list-bullet">
        <li>digital performance analysts</li>
        <li>a technical architect</li>
        <li>web ops expertise</li>
        <li>procurement</li>
      </ol>
      <p>
        The team will also have a shared understanding of the accessibility needs and possible assisted digital needs of a service’s users.
      </p>

      <h3 class="heading-small">The skills a core team will need</h3>

      <p>
        A core digital delivery team needs to be able to:
      </p>
       <ol class="list-bullet">
        <li>analyse user needs, and turn these into user stories</li>
        <li>manage the scope and prioritisation of stories</li>
        <li>manage and report to stakeholders</li>
        <li>managing dependencies on other teams</li>
        <li>where needed, procure services or solutions from 3rd parties</li>
        <li>design, build, test, demo and iterate software solutions (the ‘making’!)</li>
        <li>test solutions on real users</li>
        <li>deploy and host the software</li>
        <li>find solutions for accrediting and handling of data</li>
        <li>supporting the live running of the service (monitoring, fixing things when they break, responding to users)</li>
      </ol>
      <h3 class="heading-small">Working with delivery teams outside of government</h3>

      <p>If some elements are going to be delivered by 3rd parties (eg software, hosting or operational support) then it will be important to have ‘intelligent buyers’ in the team. These people will know how to go about selecting and procuring specialists, and what to do to make sure their introduction to the team is as smooth as possible.
      </p>

      <h3 class="heading-small">Recruiting</h3>

      <p>Building great digital services and supporting technology requires strong leadership and a wide array of technical skills. These are often not yet common across government. It also means rebalancing the skills and priorities of existing senior technology roles.
      </p>

      <h3 class="heading-small">Recruitment Hub</h3>

      <p>The Government Digital Service (GDS) is supporting departments in bringing in these new skills through the Recruitment Hub.
      </p>

      <p>GDS must approve the job descriptions and appointments for all SCS-level technology positions.
      </p>

      <p>GDS does not need to approve the appointment of non-SCS specialist posts, but will provide guidance, support and advice for departments seeking to bring in specialist digital skills.
      </p>

      <h3 class="heading-small">Organisation design</h3>

      <p>Having the right roles is just as important as having the right people. That applies as much to leadership teams guiding digital transformation across the department as it is does for the teams delivering digital services on the ground.
      </p>

      <p>Government digital and technology leadership should be strongly represented at board level and be specifically responsible for enabling business change. In many cases digital services and department-specific IT should – for now – be managed as separate but strongly linked workstreams, with a common aim of ensuring transformation across the department.
      </p>

      <p>In all cases where departments run digital services, digital should be represented at the same or higher seniority level as technology.
      </p>

      <p>The new roles of the Chief Digital Officer (CDO) and Chief Technology Officer (CTO) are for strategic, transformative leadership.
      </p>

      <p>CDOs will concentrate on producing digital public services and the wider digital by default strategy.
      </p>

      <p>CTOs will concentrate on providing the department-specific IT that supports digital public services and internal users. CTOs will also be in charge of moving their departments to common technology services.
      </p>

      <h3 class="heading-small">Job descriptions</h3>

      <p>To get the right skills into government, we need make sure we’re asking the right people to apply.
      </p>

      <p>You can choose from a set of template job descriptions for senior technology leaders and digital specialists.
      </p>

      <h3 class="heading-small">Scaling a service team</h3>

      <p>It’s natural for team size and composition to increase and decrease over the life of a service as the amount and type of work changes. The process of increasing or decreasing team size is known as ‘scaling’.
      </p>

      <h3 class="heading-small">Scaling during the life of a service</h3>

      <p>Delivery of digital services is best achieved through a small multidisciplinary team using an agile approach.
      </p>

      <p>However, you should recognise that you may need to scale up or down to meet your goals as you move through the phases in the life of the service.
      </p>

      <h3 class="heading-small">How a team might scale during the life of a service</h3>

      <p>Every service will have different needs over its lifetime. Typically during discovery and alpha you’ll need a small team to experiment, try stuff out and solve the harder potential problems on the project.
      </p>

      <p>Moving to beta and live, the team will be delivering a set of capabilities iteratively with regular user testing. You often need to scale up during beta, and sometimes in live when a change is big. You should only scale up when you already have a well-formed team delivering consistently.
      </p>

      <p>Scale according to service needs, instead of trying to scale across the entire organisation. This will mean you increase capacity only when you absolutely need to.
      </p>

      <p>You can scale up by adding people to existing teams or by creating new ones. It’s better to increase the size of existing teams until it becomes impractical. If this happens, consider adding more teams.
      </p>

      <p>Scale incrementally instead of resourcing to peak capacity from an early stage. New business case arrangements and use of procurement frameworks allow you to build your team as the work requires.
      </p>

      <p>It’s easy to forget about reducing teams and team size to match the work throughout the life of your service. When a service moves from beta to live, more user needs will have been met and there’s typically less remaining work. Whilst you must continuously, iteratively improve your service over time, you won’t always need the same size of team as you did during peak development, so think about how and when to scale down.
      </p>

      <p>You’ll need to plan to scale down carefully. Review the service roadmap, release plans and product backlog with your team to determine when and how to scale down. Consider whether it’s sensible to merge teams. Bear in mind that remaining team members will need time to reorganise their work.
      </p>



      <h2 class="heading-medium" id="what-agile-means-for-your-role">What agile means for your role</h2>
      <p>
        Agile means working collaboratively and openly in a multi-disciplinary team through set phases. This means who is needed and when can change. There will be a core team and skills that you must include in your service, but what they need to do will vary depending on the phase and its goals.
      </p>
      <div class="js-collapsible-collection subsection-collection" data-collapse-depth="1">
              <div class="collapsible-subsections">
                <div class="govspeak">

                  <h2 class="heading-medium">Service manager, product owner</h2>
                   <p>
                    The service manager will be part of the team throughout the project. In discovery they will need to:
                  </p>
                  <p>
                    Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna.
                  </p>

                  <h2 class="heading-medium">Delivery manager, scrum master</h2>
                   <p>
                    In discovery they will need to:
                  </p>
                  <p>
                    Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna.
                  </p>

                  <h2 class="heading-medium">User researcher</h2>
                   <p>
                    In discovery they will need to:
                  </p>
                  <p>
                    Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna.
                  </p>

                  <h2 class="heading-medium">Content designer</h2>
                  <p>
                    In discovery they will need to:
                  </p>
                  <p>
                    Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna.
                  </p>

                  <h2 class="heading-medium">Data analyst</h2>
                   <p>
                    In discovery they will need to:
                  </p>
                  <p>
                    Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna.
                  </p>

                  <h2 class="heading-medium">Designer</h2>
                  <p>
                    In discovery they will need to:
                  </p>
                  <p>
                    Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna.
                  </p>

                </div>

              </div>
      </div>



      <h2 class="heading-medium" id="tools-for-agile-teams">Tools for agile teams</h2>
      <p>
        What the common agile meetings and features are and how to do them, including the roadmap, user stories, stand up, retrospectives and planning tools.
      </p>


      <div class="js-collapsible-collection subsection-collection" data-collapse-depth="1">
        <div class="collapsible-subsections">
          <div class="govspeak">

            <h2 class="heading-medium">The roadmap</h2>
             <p>
              The roadmap is visual overview of a project’s goals and shows the direction a service will take. It is produced during the discovery phase.
            </p>
            <h4 class="heading-small">Why you need a roadmap</h4>
             <p>
              The roadmap will be used to inform the business case you’ll need to write to move your project into the alpha phase. You’ll measure project progress against the goals in the roadmap and modify them as you learn more about user needs.
            </p>
            <h3 class="heading-small">How to make a roadmap</h3>
            <p>
              You need to start with the project’s vision and goals that were created in the discovery phase. Along with your team, plot these goals against your project’s phases to create a roadmap.
            </p>
            <p>
              You can use your wall to show your road map and record it in a spreadsheet.
            </p>

            <h2 class="heading-medium">The agile wall</h2>
             <p>
              Physical walls show what work is being planned and worked on, create a focus for the team and promote transparency.
            </p>
            <img src="http://dummyimage.com/600x400/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image">
            <h4 class="heading-small">Why have a wall</h4>
            <p>
              In agile working, visual management and face to face communication are fundamental to a project’s success. The wall promotes both of these; the team has their daily stand up around their wall and update it throughout the day.            
            </p>
            <p>
              Instead of keeping ideas, plans and work-in-progress buried in digital tools, charts and emails, teams can manage their workflow through their walls.
            </p>
            <p>
              Anyone should be able to look at an agile wall and be able to understand a project. If a wall can’t be easily understood (eg it’s not immediately clear where the team is blocked), it’s up to the team’s delivery manager to make improvements.
            </p>
            <h4 class="heading-small">What goes on a wall</h4>
            <p>
              Walls will differ from team to team, however most walls are used to manage what: 
            </p>
            <ol class="list-bullet">
              <li>the team have yet to start work on</li>
              <li>they’re currently doing</li>
              <li>they’ve already done</li>
            </ol>
            <p>
              Work to do is represented as cards that are moved along the wall. Sometimes cards are annotated, eg to show who’s working on them or that the work is blocked.
            </p>
            <p>
              Team walls capture the flow of work through different stages.
            </p>
            <p>
              The team should also track:
            </p>
            <ol class="list-bullet">
              <li>progress against their goals and key performance indicators (KPIs) – for live data this could be shown on an electronic dashboard like the <a href="https://gov.uk/performance">GDS performance platform</a></li>
              <li>risks and issues</li>
              <li>major obstacles to delivery (‘blockers’)</li>
              <li>important deadlines and dependencies</li>
            </ol>
            <p>
              Information about the service and team is also commonly shown, like:
            </p>
            <ol class="list-bullet">
              <li>the service vision and roadmap (goals)</li>
              <li>who is in the team</li>
              <li>what their working arrangements are, eg when their show and tells are held</li>
            </ol>
            <h4 class="heading-small">Examples</h4>
            <p>
              How GDS uses the agile wall is discussed in the blog post <a href="https://gds.blog.gov.uk/2012/12/19/the-agile-wall">The role of the agile wall.</a> 
            </p>
            <img src="http://dummyimage.com/600x400/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image">
            <p>
              This wall is used to manage a software team’s work. It shows their goals, successes and a simple flow of tasks: to do - in progress - in review - to deploy - done. 
            </p>
            <img src="http://dummyimage.com/600x400/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image">
            <p>
              This is a section of the wall used to manage the transfer of departments and agency websites to GOV.UK. It uses a similar flow of tasks but on a much larger scale.
            </p>

            <h2 class="heading-medium">User stories</h2>
             <p>
              The agile way to plan, organise and prioritise your work, and be clear about what your goals are. 
            </p>
            <h4 class="heading-small">What user stories are</h4>
            <p>
              User stories are a way of organising your work into manageable chunks that create tangible value, and can be discussed and prioritised independently.
            </p>
            <p>
              A user story briefly explains:
            </p>
            <ol class="list-bullet">
              <li>the person using the service (actor)</li>
              <li>what the user needs the service for (narrative)</li>
              <li>why the user needs it (goal)</li>
            </ol>
            <h4 class="heading-small">Why write user stories?</h4>
            <p>
              User stories are an essential part of the agile toolkit. The story card is a placeholder, a promise to have a conversation when the time is right. You use the story card and some brief initial conversations to estimate the amount of time a story needs to be completed and then put it into an agile backlog.
            </p>
            <p>
              When work actually starts, you consult the users or user representative to fill out the story details. A user story is the sum of all of these conversations, sketches and whiteboard diagrams – not just the card. You don’t need to write down or archive your conversations. 
            </p>
            <p>
              Using user stories in this way allows you to avoid ‘analysis paralysis’, the painful condition of trying to guess the details of some far-future goal.
            </p>
            <h4 class="heading-small">Who should write user stories</h4>
            <p>
              User stories can be added to a product backlog at any point in the sprint cycle by any person in the team. It’s up to the product owner to coordinate and prioritise them, and to select stories for each sprint at the start of each sprint cycle.
            </p>
            <h4 class="heading-small">How to write user stories</h4>
            <p>
              When writing a user story, make sure the story is well-formed. Don’t skip the part explaining why there’s a need for a service just because it can be difficult.
            </p>
            <p>
              If stories are too big then split them into smaller stories.
            </p>
            <h4 class="heading-small">Structure</h4>
            <p>
              Story cards follow a standard structure:
            </p>
            <ol class="list-bullet">
              <li>title</li>
              <li>actor</li>
              <li>narrative</li>
              <li>goal</li>
            </ol>
            <p>
              They don’t capture every detail, but you should have a more in-depth discussion about a user story at the appropriate time.
            </p>
            <p>Actor:    As a    journalist<br/>
            Narrative:  I want to see contact information for the news article I’m reading<br/>                        
            Goal:   So that   I can get directly in touch with the press office about it</p>
            <p>
              You might want to include a list of acceptance criteria. These should be a reminder for things to test or check which may have come up during conversation, but they should not be used as a way of defining the scope of a story.
            </p>
            <h4 class="heading-small">Actor</h4>
            <p>
              Being specific about the actor will help you to break down interactions into logical chunks.
            </p>
            <p>
              Sometimes the actor will be a user of your service, or the actor will be an administrator, technician or manager in your organisation.
            </p>
            <p>
              Make sure you already have a good understanding of your users from your initial project work or existing research. If not, take the time to develop that understanding.
            </p>
            <h4 class="heading-small">Narrative</h4>
            <p>
              Use this as a reminder of the main interaction that needs to be addressed as part of the user experience. Remember that the story card does not need to spell out every detail.
            </p>
            <h4 class="heading-small">Goal</h4>            
            <p>
              Use this to help you decide whether the story is “done” or delivered, ie does the work meet the goal of the user?
            </p>
            <p>
              When writing stories with your development team, always start by thinking about and discussing your users’ goals:
            </p>
            <ol class="list-bullet">
              <li>why do they want to use your service?</li>
              <li>what are they trying to achieve?</li>
              <li>what need has motivated them to seek out your service?</li>
              <li>in what context do they use it – at home/work/on a mobile phone/whilst caring for a child?</li>
              <li>how often do they use it?</li>
            </ol>
            <p>
              Suzanne and James Robertson have excellent advice on this in the book Mastering the Requirements Process (3rd edition).
            </p>
            <h4 class="heading-small">Acceptance criteria</h4>
            <p>
              Acceptance criteria can be used to determine when a story is done. 
            </p>

            <p>
              Only include these on the back of the story card if the team finds them useful for recording user assumptions they might later forget. Sometimes writing acceptance criteria on the story card is useful where the user or user representative is not immediately available but is no substitute at all for face-to-face conversation.
            </p>
            <h4 class="heading-small">User story cards</h4>
            <p>
              A user story is represented through a story card that has a title and a few lines of text.
            </p>
            <p>
              Your story cards can be virtual, as well as actual cards. On a large product or service keep your stories in a digital format, and then turn them into physical cards as part of sprint planning.
            </p>
            <h4 class="heading-small">How to get user stories</h4>
            <p>
              Stories can come from many places, but the most common sources include:
            </p>
            <ol class="list-bullet">
                <li>Story writing workshops – more commonly at the start of a project, the development team and stakeholders will get together to write stories</li>
                <li>user interviews with real users – ideally, you will set up a user panel which the development team have ongoing access to</li>
                <li>user representatives embedded within your team – this may include the service manager or product owner</li>
                <li>observation – watch real users using your service</li>
            </ol>
            <h4 class="heading-small">Further reading</h4>
            <ol class="list-bullet">
              <li>Mastering the Requirements Process, 3rd Ed, Suzanne Robertson & James Robertson, 2012</li>
              <li>Twelve Principles of the Agile Manifesto – http://agilemanifesto.org/principles.html</li>
              <li>User Stories Applied, Mike Cohn, 2004. Free chapter on “Writing User Stories” available at http://www.mountaingoatsoftware.com/books/user-stories-applied</li>
            </ol>

            <h2 class="heading-medium">Sprint planning</h2>
            <p>
              A meeting where you’ll agree what work you need to do in your next sprint.
            </p>
            <h4 class="heading-small">What sprint planning is</h4>
            <p>
              You do sprint planning at the start of each sprint. There are 2 parts to it:
            </p>
            <ol class="list-bullet">
              <li>what we’ll do</li>
              <li>Twelve Principles of the Agile Manifesto – http://agilemanifesto.org/principles.html</li>
              <li>how we’ll do it</li>
            </ol>
            <h3 class="heading-medium">How sprint planning works</h3>
            <h4 class="heading-small">Before sprint planning</h4>
            <p>
              You need to write user stories with acceptance criteria before the meeting.
            </p>
            <p>
              Discuss the stories ahead of sprint planning with:
            </p>
            <ol class="list-bullet">
              <li>relevant team members</li>
              <li>subject matter experts</li>
              <li>stakeholders</li>
            </ol>
            <h4 class="heading-small">At sprint planning</h4>
            <p>
              The product owner should read out the stories and explain the acceptance criteria in order of priority. It’s the job of the team to:
            </p>
            <ol class="list-bullet">
              <li>understand the story and acceptance criteria</li>
              <li>agree on the number of user stories they’ll aim to achieve within each sprint</li>
              <li>agree on the tasks needed to complete it</li>
            </ol>
            <p>
              A good description of sprint planning is on the Agile Learning Labs website.
            </p>
            <p>
              This meeting can be hard to get right with large teams. Some people want to dig deep and question every story; others want to keep moving and don’t want to go into detail. Persevere!
            </p>


            <h2 class="heading-medium">Agile planning software</h2>
            <p>
              Agile planning boards are another way of managing a team’s work along with the wall. User stories are recorded as tickets on planning boards using software such as Pivotal Tracker, Trello, KanbanFlow.
            </p>
            <h4 class="heading-small">Why use planning boards</h4>
            <p>
              The best requirements and designs emerge from self-organising teams. Planning boards mean the team can create, update and pick up tickets to work on themselves.
            </p>
            <p>
              They also allow team members to see what is being worked on and by who. A well written tickets allows work to be handed over during absence and leave.
            </p>
            <h4 class="heading-small">How to use them</h4>
            <p>
              There are a number of software solutions available each with different features. Many are free and quick to set up which means you can try one and if it isn’t quite right move on and try another.
            </p>
            <p>
              How you set up your boards is up to you, but it is usual to have workflow columns including:
            </p>
            <ol class="list-bullet">
              <li>icebox (unpriortised tasks)</li>
              <li>ready to do (the next most important things to do</li>
              <li>doing right now </li>
              <li>done</li>
            </ol>
            <p>
              Each ticket should be a user story, with a clear user need and acceptance criteria.
            </p>
            <h4 class="heading-small">Examples</h4>
            <img src="http://dummyimage.com/600x400/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image">

            <h2 class="heading-medium">Stand-up</h2>
            <p>
              Daily meetings with your team so you know what they’re doing and if they have any problems.
            </p>
            <h4 class="heading-small">What a stand-up is</h4>
            <p>
              The stand-up is a regular meeting you should have with your team.
            </p>
            <h4 class="heading-small">How a stand-up works</h4>
            <p>
              It’s a daily meeting that should last no more than 15 minutes. It’s best if you do it standing up, in a semicircle, in front of your project wall. This will help you to keep it short and allows your team members to point at user story cards on the wall to keep things on topic.
            </p>
            <p>
              Each member of your team should say:
            </p>
            <ol class="list-bullet">
              <li>what I worked on or produced yesterday</li>
              <li>what I’m working on today (and help I might need)</li>
              <li>what’s blocking me (ie stopping me from finishing a user story card)</li>
            </ol>
            <p>
              Ask people to keep it brief and don’t be afraid to remind them of this. If people try to solve issues during the stand-up, stop the conversation and arrange a huddle after the stand-up to discuss in a smaller group.
            </p>


            <h2 class="heading-medium">Show and tell</h2>
            <p>
              A meeting where people from the rest of the organisation can find out what your team is doing and ask questions.
            </p>
            <h4 class="heading-small">What a show and tell is</h4>
            <p>
              This is a meeting that happens every few weeks in the delivery team work area. It gives the rest of the organisation a chance to:
            </p>
            <ol class="list-bullet">
              <li>see the most important work the team has done during that period</li>
              <li>hear their plans for the next few weeks</li>
              <li>listen to them and ask questions</li>
            </ol>
            <h4 class="heading-small">Why show and tell?</h4>
            <p>
              People outside the team get to look at or use what’s being developed by the team and form their view of how they’re meeting user needs. They’ll also leave the show and tell with information to share with the wider organisation afterwards.
            </p>
            <p>
              Even early in the development of a service (in the discovery and alpha phases), there are many things that the team can do to demonstrate the outcomes of their work. This gives you the chance to offer feedback to help shape what the team does next.
            </p>
            <h4 class="heading-small">How show and tells work</h4>
            <p>
              The delivery team runs the show and tell, but you can ask for specific things to be shown. It’s the team’s responsibility to make sure the meeting is useful to the people there. You should check with them beforehand.
            </p>
            <p>
              The team will highlight issues, dependencies, assumptions and risks that are affecting them but the meeting isn’t a forum for detailed review or discussion of these.
            </p>
            <p>
              The show and tell is an opportunity for you to ask questions about the work done and provide feedback. It’s not an opportunity to argue for changes in the team’s plans or challenge their user research - if you have concerns around these, take them up with the service manager before or after the meeting.
            </p>
            <h4 class="heading-small">Get involved</h4>
            <p>
              To give feedback, make a suggestion or share your experience, use the governance guidance hackpad.
            </p>

            <h2 class="heading-medium">Retrospective</h2>
            <p>
              A meeting to find out what’s working and what isn’t, so your team can continuously improve.
            </p>
            <h4 class="heading-small">What a retrospective is</h4>
            <p>
              A retrospective is a meeting at the end of a sprint where your team get a chance to talk about what went well and badly in that sprint, and take some actions to improve matters. 
            </p>
            <p>
              It can also cover a larger scope, eg a full project retrospective.
            </p>
            <h4 class="heading-small">Why do retrospectives?</h4>
            <p>
              A central principle of agile is quick feedback loops – you demonstrate something to the user as soon as possible so you can see how well it suits their needs. Retrospectives are the way we apply this to our own teams to find out what’s working and what isn’t, so a team can continuously improve.
            </p>
            <p>
              Having a regular retrospective means you can fine-tune your working processes and your environment to your needs by:
            </p>
            <ol class="list-bullet">
              <li>making small improvements often, ideally before problems start to fester</li>
              <li>identifying working practices that make you more efficient, productive or at least happier</li>
            </ol>
            <p>
              This is a chance for everyone in your team to contribute to improving process and productivity.
            </p>
            <h4 class="heading-small">How a retrospective works</h4>
            <p>
              A retrospective takes this form:
            </p>
            <ol class="list-bullet">
              <li>gather data</li>
              <li>generate insights</li>
              <li>decide what to do</li>
            </ol>
            <h4 class="heading-small">The facilitator</h4>
            <p>
              All retrospectives must be facilitated. The facilitator’s role is to give everyone a chance to talk about their concerns and give positive feedback.
            </p>
            <p>
              At the same time, they make sure the meeting remains a structured, productive meeting and doesn’t become overly negative. Ideally, your facilitator will be someone outside of your team so your whole team can contribute, but it’s not essential.
            </p>
            <p>
              The facilitator needs to:
            </p>
            <ol class="list-bullet">
              <li>plan the retrospective</li>
              <li>make sure that everyone gets a chance to contribute</li>
              <li>keep the retrospective on track</li>
              <li>make sure actions are created and assigned</li>
              <li>manage time so that it does not run over</li>
              <li>Working agreements</li>
            </ol>
            <p>
              You’ll find it helpful to have some working agreements for a retrospective. These can be stated if necessary, eg in the first retrospective your team has.
            </p>
            <p>
              Working agreements could be that:
            </p>
            <ol class="list-bullet">
              <li>everyone contributes</li>
              <li>no one speaks over the other (except for the facilitator)</li>
              <li>no phones or laptops are allowed – everyone should be concentrating on the discussion</li>
            </ol>
            <h4 class="heading-small">Outcomes of a retrospective</h4>
            <p>
              During the discussion you will uncover some successes you can celebrate, as well as some problems that you can fix or things you can improve.
            </p>
            <p>
              Make a list of actions that will address these. Aim to have done them within the next sprint or iteration<
            </p>
            <p>
              Some problems may take longer to fix, in which case you should try to make an action that will start the process of improving it by your next retrospective.
            </p>
            <p>
              Actions should:
            </p>
            <ol class="list-bullet">
               <li>be concrete and measurable (eg ‘write 10 more unit tests for the redirector’, or ‘speak to Jamie about arranging a project retrospective’; not ‘write more tests’, or ‘we should understand the lessons learned from this project’)</li>
               <li>have a date by which they should be completed</li>
               <li>be assigned to a specific person (and not to </li>‘the team’)</li>
               <li>not be assigned to someone who is not present</li>
            </ol>
            <P>
              Retrospectives should follow up on the actions of previous retrospectives to make sure they’ve been completed. If they’re consistently not getting done, you may have too many.
            </P>
            <h4 class="heading-small">Timings</h4>
            <P>
              Each of the activities should be timeboxed (has a set time it will run for), and it’s your facilitator’s job to make sure that your team stick to this.
            </P>
            <P>
              Build in about 10% ‘shuffle time’ to move between activities to make sure it doesn’t overrun.
            </p>
            <P>
              It’s OK to finish early if people have said what they need to. It’s not OK to overrun – if there is too much to say, have the team prioritise the top areas for discussion and/or book more time for the next retrospective.
            </p>
            <h4 class="heading-small">Example timeline</h4>
            <p>
              This timeline is based on a team of 8 to 10 and covers a 2-week sprint. 90 minutes is a reasonable amount of time to use for this scope and amount of people.
            </p>
            <p>
            <ol class="list-number">
              <li>Explain the scope and purpose of the session: 5 minutes</li>
              <li>Update on actions from last retrospective: 5 minutes</li>
              <li>Write down all the things that went well: 10 minutes</li>
              <li>Discuss all the good things: 10 minutes</li>
              <li>Write down all the things that went badly (15 minutes)</li>
              <li>Discuss all the bad things (20 minutes)</li>
              <li>Agree actions, assign them to someone with a deadline (15 minutes)</li>
            </ol>
            <h4 class="heading-small">Further reading</h4>
            <p>
              You may find these resources useful:
            </p>
            <ol class="list-bullet"> 
              <li>The Agile Retrospective Wiki – it has some very useful resources, including plans for different types of retrospectives</li>
              <li>Agile Retrospectives: Making Good Teams Great</li>
              <li>Getting Value out of Agile Retrospectives – free eBook with many exercises for facilitating retrospectives, supported with the “what” and “why” of retrospectives, the business value and benefits that they bring, and advice for introducing and improving retrospectives</li>
          </div>

        </div>
      </div>

    </div>
  </div>

</main>

{{/content}}

{{/layout}}
