{{<layout}}

{{$pageTitle}}
  GOV.UK Service Manual: Agile working : Moving to agile
{{/pageTitle}}

{{$content}}

<div id="global-breadcrumb" class="breadcrumb">
  <ol role="breadcrumbs" class="group">
    <li><a href="/">Home</a></li>
    <li><a href="/agile-working/agile-home">Agile working</a></li>
    <li><strong>Moving to agile</strong></li>
  </ol>
</div>

<main id="content" role="main">

  <h1 class="heading-xlarge">Moving to agile</h1>
   <nav class="page-navigation">
    <ol>
      <li class="active">
          <span class="part-number">1.</span>
          <a href="agile-training">Agile training</a>
        </li>
        <li>
          <span class="part-number">2.</span>
          <span>Agile coaching</span>
        </li>
        <li>
          <span class="part-number">3.</span>
          <a href="learn-from-others">Learn from other people</a>
        </li>
    </ol>
    <ol start="4">
      <li>
          <span class="part-number">4.</span>
          <a href="learn-by-doing">Learn by doing</a>
      </li>
      <li>
        <span class="part-number">5.</span>
        <a href="find-support">Find support and share ideas</a>
      </li>
      <li>
          <span class="part-number">6.</span>
          <a href="stakeholder-engagement">Stakeholder Engagement</a>
      </li>
    </ol>
  </nav>

  <div class="grid-row">

    <div class="column-two-thirds" style="margin-bottom:15px;">
      <h2 class="heading-large" id="about-the-a-to-z">2. Agile coaching</h2>
      <p class="lede">
        Part of a delivery manager or scrum master’s role is to be an agile coach; training the team, organisation and stakeholders in the benefits of agile working.
      </p>
      <h3 class="heading-medium">Book agile coach training</h3>
      <p>
        If you are a civil servant find and book your course through <a href="https://civilservicelearning.civilservice.gov.uk/">Civil Service Learning</a>.
      </p>
      <h3 class="heading-medium">Hiring an agile coach</h3>
      <p>
        Sometimes it can be helpful to bring in an agile coach, especially in an organisation new to agile to:
      </p>
      <ol class="list-bullet">
        <li>train teams and organisations in agile working</li>
        <li>help organisational change</li>
        <li>help stakeholder engagement</li>
      </ol>
      

    </div>
  </div>

</main>

{{/content}}

{{/layout}}
