{{<layout}}

{{$pageTitle}}
  GOV.UK Service Manual: Agile working : Moving to agile
{{/pageTitle}}

{{$content}}

<div id="global-breadcrumb" class="breadcrumb">
  <ol role="breadcrumbs" class="group">
    <li><a href="/">Home</a></li>
    <li><a href="/agile-working/agile-home">Agile working</a></li>
    <li><strong>Moving to agile</strong></li>
  </ol>
</div>

<main id="content" role="main">

  <h1 class="heading-xlarge">Moving to agile</h1>
   <nav class="page-navigation">
    <ol>
      <li class="active">
          <span class="part-number">1.</span>
          <a href="agile-training">Agile training</a>
        </li>
        <li>
          <span class="part-number">2.</span>
          <a href="agile-coaching">Agile coaching</a>
        </li>
        <li>
          <span class="part-number">3.</span>
          <a href="learn-from-others">Learn from other people</a>
        </li>
    </ol>
    <ol start="4">
      <li>
          <span class="part-number">4.</span>
          <a href="learn-by-doing">Learn by doing</a>
      </li>
      <li>
        <span class="part-number">5.</span>
        <span>Find support and share ideas</span>
      </li>
      <li>
          <span class="part-number">6.</span>
          <a href="stakeholder-engagement">Stakeholder Engagement</a>
      </li>
    </ol>
  </nav>

  <div class="grid-row">

    <div class="column-two-thirds" style="margin-bottom:15px;">
      <h2 class="heading-large" id="about-the-a-to-z">5. Find support and share ideas</h2>
      <p class="lede">
        A fundamental principle of agile is finding things out for yourself and sharing knowledge. 
      </p>
      <p>
        Part of this is by simply asking questions and visiting other teams. But you can also gain more knowledge through self-initiated learning by:
      </p>
      <ol class="list-bullet">
        <li>joining communities of practice </li>
        <li>attending events and networking </li>
        <li>reading widely (including blogs and blogging) </li>
        <li>coaching others and sharing your knowledge</li>
      </ol>
      <h3 class="heading-small">Communities of practice</h3>
      <p>
        There are active communities of practice for many of the disciplines involved in agile service delivery in government. 
      </p>
      <p>
        GDS has an <a href="http://linkydink.io/groups/gds-agile-delivery-community ">agile delivery community</a> links list that’s updated regularly, which you can subscribe to. It’s also worth having a look to see if there are any relevant collections on the links collection service <a href="http://paper.li/newsstand">paper.li</a> as well as other web collections of links.
      </p>
      <h3 class="heading-small">Networking and events</h3>
      <p>
        Networking is a useful way of learning. You can also find local meetups and events close to you at <a href="http://www.meetup.com">www.meetup.com</a> or you could start your own.
      </p>
      <h3 class="heading-small">Blogs and blogging</h3>
      <p>
        There are hundreds of blogs about agile and lean techniques. GDS and teams across government publish blogs that will give you real insight into a particular agile team or challenge. 
      </p>
      <h3 class="heading-small">Coaching and sharing your knowledge</h3>
      <p>
        Once you’re confident, teaching others is a good way to learn. Try engaging in communities like those on LinkedIn, blogging on your own and others’ blogs about agile or speaking about your experiences internally, at meetups or events.
      </p>
      

    </div>
  </div>

</main>

{{/content}}

{{/layout}}
