{{<layout}}

{{$pageTitle}}
  GOV.UK Service Manual: Agile working : Moving to agile
{{/pageTitle}}

{{$content}}

<div id="global-breadcrumb" class="breadcrumb">
  <ol role="breadcrumbs" class="group">
    <li><a href="/">Home</a></li>
    <li><a href="/">Agile working</a></li>
    <li><strong><a href="/">Moving to agile</a></strong></li>
  </ol>
</div>

<main id="content" role="main">

  <h1 class="heading-xlarge">Moving to agile</h1>
   <nav class="page-navigation">
    <ol>
      <li class="active">
          <span class="part-number">1.</span>
          <a href="agile-training">Agile training</a>
        </li>
        <li>
          <span class="part-number">2.</span>
          <a href="agile-coaching">Agile coaching</a>
        </li>
        <li>
          <span class="part-number">3.</span>
          <a href="learn-from-others">Learn from other people</a>
        </li>
      </ol>
    <ol start="4">
      <li>
          <span class="part-number">4.</span>
          <span>Learn by doing</span>
      </li>
      <li>
        <span class="part-number">5.</span>
        <a href="find-support">Find support and share ideas</a>
      </li>
      <li>
          <span class="part-number">6.</span>
          <a href="stakeholder-engagement">Stakeholder Engagement</a>
      </li>
      </ol>
  </nav>

  <div class="grid-row">

    <div class="column-two-thirds" style="margin-bottom:15px;">
      <h2 class="heading-large" id="about-the-a-to-z">4. Learn by doing</h2>
      <p class="lede">
        The agile techniques in this manual can be applied to many types of projects. They are not restricted to software. This means that you can quickly start to learn as a team through running small projects.
      </p>
      <h3 class="heading-medium">How to start out</h3>
      <p>
        Take a project that you’re working on and start to apply agile techniques to it, then improve on them as you go. 
      </p>
      <p>
        You can learn a lot from being unsuccessful: the phrase ‘fail fast’ is often used in an agile context, but what you can benefit from is learning quickly.
      

    </div>
  </div>

</main>

{{/content}}

{{/layout}}
