{{<layout}}

{{$pageTitle}}
  GOV.UK Service Manual: Agile working : Moving to agile
{{/pageTitle}}

{{$content}}

<div id="global-breadcrumb" class="breadcrumb">
  <ol role="breadcrumbs" class="group">
    <li><a href="/">Home</a></li>
    <li><a href="/agile-working/agile-home">Agile working</a></li>
    <li><strong>Moving to agile</strong></li>
  </ol>
</div>

<main id="content" role="main">

  <h1 class="heading-xlarge">Moving to agile</h1>
   <nav class="page-navigation">
    <ol>
      <li class="active">
          <span class="part-number">1.</span>
          <a href="agile-training">Agile training</a>
        </li>
        <li>
          <span class="part-number">2.</span>
          <a href="agile-coaching">Agile coaching</a>
        </li>
        <li>
          <span class="part-number">3.</span>
          <span>Learn from other people</span>
        </li>
    </ol>
    <ol start="4">
      <li>
          <span class="part-number">4.</span>
          <a href="learn-by-doing">Learn by doing</a>
      </li>
      <li>
        <span class="part-number">5.</span>
        <a href="find-support">Find support and share ideas</a>
      </li>
      <li>
          <span class="part-number">6.</span>
          <a href="stakeholder-engagement">Stakeholder Engagement</a>
      </li>
    </ol>
  </nav>

  <div class="grid-row">

    <div class="column-two-thirds" style="margin-bottom:15px;">
      <h2 class="heading-large" id="about-the-a-to-z">3. Learn from other people</h2>
      <p class="lede">
        You can learn a lot from seeing other people who are practicing agile techniques. Go and see how other people are doing agile within your organisation and across government.
      </p>
      <p>
        Agile teams are open and transparent, so they should be happy to invite you into planning, review and retrospective sessions.
      </p>
      <p>
        There are communities of practice for all agile disciplines where you can find teams and people to help.  
      </p>
      <h3 class="heading-small">The service assessment and service standard point 2</h3>
      <p>
        To satisfy criteria 2 of the service standard you must be able to show how you are transferring knowledge from any external contractors into your organisation. To achieve this you can use:
      </p>
      <ol class="list-bullet">
        <li>shadowing</li>
        <li>pairing</li>
        <li>mentoring</li>
      </ol>
      <p>
        When you hire contractors and suppliers they need to be able to show:
      </p>
      <ol class="list-bullet">
        <li>how they will share knowledge </li>
        <li>provide coaching  </li>
        <li>mentor civil servants </li>
      </ol>

      <h3 class="heading-small">Shadowing</h3>
      <p>
        You should try to spend some time shadowing or working with delivery practitioners on problems to give you a better understanding of how they apply agile.
      </p>
      <p>
        Try to invite external speakers in to share their own experiences with you and your department or team and take the chance to discuss your ideas with them.
      </p>
      <h3 class="heading-small">Pairing</h3>
      <p>
        Pairing comes from the term pair programming in Extreme programming, but is just as relevant all types of work and job role. During this practice two people will sit together to work on the same thing at the same time.
      </p>
      <p>
        One of you is writing the code or doing the task, and the other is observing and giving input. The benefits of working in this way lead to better quality of code, better communication amongst the team and learning how something is built and why decisions were made. Pairing rapidly increases learning as an individual and as a team.
      </p>
      <h3 class="heading-small">Mentoring</h3>
      <p>
        This works by pairing a new or less experienced team member (mentee) with someone with more or different experience (mentor). 
      </p>
      <p>
        There is an ongoing semi-formal relationship where the mentor:
      </p>
      <ol class="list-bullet">
        <li>regularly meets with the mentee</li>
        <li>is freely available for advice and coaching</li>
        <li>allows the mentee to shadow and attend networking opportunities</li>
      </ol>
      

    </div>
  </div>

</main>

{{/content}}

{{/layout}}
