{{<layout}}

{{$pageTitle}}
  GOV.UK Service Manual: Agile working : Moving to agile
{{/pageTitle}}

{{$content}}

<div id="global-breadcrumb" class="breadcrumb">
  <ol role="breadcrumbs" class="group">
    <li><a href="/">Home</a></li>
    <li><a href="/agile-working/agile-home">Agile working</a></li>
    <li><strong>Moving to agile</strong></li>
  </ol>
</div>

<main id="content" role="main">

  <h1 class="heading-xlarge">Moving to agile</h1>
   <nav class="page-navigation">
    <ol>
      <li class="active">
          <span class="part-number">1.</span>
          <a href="agile-training">Agile training</a>
        </li>
        <li>
          <span class="part-number">2.</span>
          <a href="agile-coaching">Agile coaching</a>
        </li>
        <li>
          <span class="part-number">3.</span>
          <a href="learn-from-others">Learn from other people</a>
        </li>
    </ol>
    <ol start="4">
      <li>
          <span class="part-number">4.</span>
          <a href="learn-by-doing">Learn by doing</a>
      </li>
      <li>
        <span class="part-number">5.</span>
        <a href="find-support">Find support and share ideas</a>
      </li>
      <li>
          <span class="part-number">6.</span>
          <span>Stakeholder Engagement</span>
      </li>
    </ol>
  </nav>

  <div class="grid-row">

    <div class="column-two-thirds" style="margin-bottom:15px;">
      <h2 class="heading-large" id="about-the-a-to-z">6. Stakeholder engagement</h2>
      <p class="lede">
        Delivery teams need support from people who govern so they can build services that meet user needs.
      </p>
      <h3 class="heading-small">Why do stakeholder engagement?</h3>
      <p>
        You need to create the right culture within your service development environment to make sure you can build user-centered services using agile and iterative methods. 
      </p>
      <p>
        The agile way of working can be very different for those used to long specifications and procurement processes. It won’t stop you from using existing skills and knowledge, but it will require your team, users and stakeholders to start working together in new ways.
      </p>
      <p>
        To do this you need to engage with the people who govern like digital leaders, portfolio managers, auditors, and teams that will support you like HR, finance and procurement. 
      </p>
      <p>
        Across the life of a service they will be involved in things like:
      </p>
      <ol class="list-bullet">
        <li>managing approvals and funding your digital service</li>
        <li>supporting delivery and managing assurance</li>
        <li>supporting your team</li>
        <li>scaling up the team</li>
      </ol>    
      <p>
        Engaging with your stakeholders will help you create the right conditions to ensure that delivery teams can do the right things for users – in the right way and at the right time. 
      </p>
      <h3 class="heading-small">How to do stakeholder engagement</h3>
      <p>
        You’ll need to help your stakeholders understand:
      </p>
      <ol class="list-bullet">
        <li>what agile is</li>
        <li>why agile works</li>
        <li>agile governance</li>
        <li>‘bad smells’</li>
      </ol>
      <p>
        You can do this by:
      </p>
      <ol class="list-bullet">
        <li>educating them - presentations, blogs, guidance, videos</li>
        <li>getting them involved - show and tells, retrospectives, stand-ups, planning, user research</li>
      </ol>
      

    </div>
  </div>

</main>

{{/content}}

{{/layout}}
