{{<layout}}

{{$pageTitle}}
  GOV.UK Service Manual: Agile working : Moving to agile
{{/pageTitle}}

{{$content}}

<div id="global-breadcrumb" class="breadcrumb">
  <ol role="breadcrumbs" class="group">
    <li><a href="/">Home</a></li>
    <li><a href="/agile-working/agile-home">Agile working</a></li>
    <li><strong>Working in agile teams</strong></li>
  </ol>
</div>

<main id="content" role="main">

  <h1 class="heading-xlarge">Working in agile teams</h1>
   <nav class="page-navigation">
    <ol>
      <li class="active">
          <span class="part-number">1.</span>
          <a href="team-structure">Agile team structure</a>
        </li>
        <li>
          <span class="part-number">2.</span>
          <span>What agile means for your role</span>
        </li>
        <li>
          <span class="part-number">3.</span>
          <a href="tools-for-agile">Tools for agile teams</a>
        </li>
    </ol>
<!--     <ol start="4">
      Other links
    </ol> -->
  </nav>

  <div class="grid-row">

    <div class="column-two-thirds" style="margin-bottom:15px;">
      <h2 class="heading-large" id="about-the-a-to-z">2. What agile means for your role</h2>
      <p class="lede">
        Agile means working collaboratively and openly in a multi-disciplinary team through set phases. 
      </p>
    
    <p>
         This means who is needed and when can change. There will be a core team and skills that you must include in your service, but what they need to do will vary depending on the phase and its goals.
      </p>
      <div class="js-collapsible-collection subsection-collection" data-collapse-depth="1">
              <div class="collapsible-subsections">
                <div class="govspeak">

                  <h2 class="heading-medium">Service manager, product owner</h2>
                   <p>
                    The service manager will be part of the team throughout the project. In discovery they will need to:
                  </p>
                  <p>
                    Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna.
                  </p>

                  <h2 class="heading-medium">Delivery manager, scrum master</h2>
                   <p>
                    In discovery they will need to:
                  </p>
                  <p>
                    Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna.
                  </p>

                  <h2 class="heading-medium">User researcher</h2>
                   <p>
                    In discovery they will need to:
                  </p>
                  <p>
                    Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna.
                  </p>

                  <h2 class="heading-medium">Content designer</h2>
                  <p>
                    In discovery they will need to:
                  </p>
                  <p>
                    Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna.
                  </p>

                  <h2 class="heading-medium">Data analyst</h2>
                   <p>
                    In discovery they will need to:
                  </p>
                  <p>
                    Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna.
                  </p>

                  <h2 class="heading-medium">Designer</h2>
                  <p>
                    In discovery they will need to:
                  </p>
                  <p>
                    Aenean lacinia bibendum nulla sed consectetur. Maecenas sed diam eget risus varius blandit sit amet non magna.
                  </p>

                </div>

              </div>
      </div>
    </div>
  </div>

</main>

{{/content}}

{{/layout}}
