{{<layout}}

{{$pageTitle}}
  GOV.UK Service Manual: Agile working : Moving to agile
{{/pageTitle}}

{{$content}}

<div id="global-breadcrumb" class="breadcrumb">
  <ol role="breadcrumbs" class="group">
    <li><a href="/">Home</a></li>
    <li><a href="/agile-working/agile-home">Agile working</a></li>
    <li><strong>Working in agile teams</strong></li>
  </ol>
</div>

<main id="content" role="main">

  <h1 class="heading-xlarge">Working in agile teams</h1>
   <nav class="page-navigation">
    <ol>
      <li class="active">
          <span class="part-number">1.</span>
          <span>Agile team structure</span>
        </li>
        <li>
          <span class="part-number">2.</span>
          <a href="agile-and-your-role">What agile means for your role</a>
        </li>
        <li>
          <span class="part-number">3.</span>
          <a href="tools-for-agile">Tools for agile teams</a>
        </li>
    </ol>
<!--     <ol start="4">
      Other links
    </ol> -->
  </nav>

  <div class="grid-row">

    <div class="column-two-thirds" style="margin-bottom:15px;">
      <h2 class="heading-large" id="about-the-a-to-z">1. Agile team structure</h2>
      <p class="lede">
        You need the right team in place to deliver a successful service.
      </p>
      <h3 class="heading-small">Building a delivery team</h3>
      <p>
        There are a range of skills and capabilities that need to come together to successfully deliver a service. 
      </p>

      <p>
        The focus is likely to shift as you move through the different phases of development – from discovery, through alphas and betas, preparing for launch, and then running and iteratively improving the live service. 
      </p>

      <p>
        The core team is likely to remain fairly constant, but may need to draw in additional resource and expertise along the way.
      </p>

      <h3 class="heading-small">The core team</h3>
      <p>
        There is no hard and fast rule on the roles or team structure needed to fulfil these functions, but a core team will consist of:
      </p>
      <ol class="list-bullet">
        <li>a service manager and/or product manager</li>
        <li>a delivery manager and/or scrum master</li>
        <li>one or more designers</li>
        <li>one or more user researchers</li>
        <li>one or more developers</li>
        <li>one or more content designers</li>
      </ol>
      <h3 class="heading-small">The team should be supported by:</h3>
      <ol class="list-bullet">
        <li>digital performance analysts</li>
        <li>a technical architect</li>
        <li>web ops expertise</li>
        <li>procurement</li>
      </ol>
      <p>
        The team will also have a shared understanding of the accessibility needs and possible assisted digital needs of a service’s users.
      </p>

      <h3 class="heading-small">The skills a core team will need</h3>

      <p>
        A core digital delivery team needs to be able to:
      </p>
       <ol class="list-bullet">
        <li>analyse user needs, and turn these into user stories</li>
        <li>manage the scope and prioritisation of stories</li>
        <li>manage and report to stakeholders</li>
        <li>managing dependencies on other teams</li>
        <li>where needed, procure services or solutions from 3rd parties</li>
        <li>design, build, test, demo and iterate software solutions (the ‘making’!)</li>
        <li>test solutions on real users</li>
        <li>deploy and host the software</li>
        <li>find solutions for accrediting and handling of data</li>
        <li>supporting the live running of the service (monitoring, fixing things when they break, responding to users)</li>
      </ol>
      <h3 class="heading-small">Working with delivery teams outside of government</h3>

      <p>If some elements are going to be delivered by 3rd parties (eg software, hosting or operational support) then it will be important to have ‘intelligent buyers’ in the team. These people will know how to go about selecting and procuring specialists, and what to do to make sure their introduction to the team is as smooth as possible.
      </p>

      <h3 class="heading-small">Recruiting</h3>

      <p>Building great digital services and supporting technology requires strong leadership and a wide array of technical skills. These are often not yet common across government. It also means rebalancing the skills and priorities of existing senior technology roles.
      </p>

      <h3 class="heading-small">Recruitment Hub</h3>

      <p>The Government Digital Service (GDS) is supporting departments in bringing in these new skills through the Recruitment Hub.
      </p>

      <p>GDS must approve the job descriptions and appointments for all SCS-level technology positions.
      </p>

      <p>GDS does not need to approve the appointment of non-SCS specialist posts, but will provide guidance, support and advice for departments seeking to bring in specialist digital skills.
      </p>

      <h3 class="heading-small">Organisation design</h3>

      <p>Having the right roles is just as important as having the right people. That applies as much to leadership teams guiding digital transformation across the department as it is does for the teams delivering digital services on the ground.
      </p>

      <p>Government digital and technology leadership should be strongly represented at board level and be specifically responsible for enabling business change. In many cases digital services and department-specific IT should – for now – be managed as separate but strongly linked workstreams, with a common aim of ensuring transformation across the department.
      </p>

      <p>In all cases where departments run digital services, digital should be represented at the same or higher seniority level as technology.
      </p>

      <p>The new roles of the Chief Digital Officer (CDO) and Chief Technology Officer (CTO) are for strategic, transformative leadership.
      </p>

      <p>CDOs will concentrate on producing digital public services and the wider digital by default strategy.
      </p>

      <p>CTOs will concentrate on providing the department-specific IT that supports digital public services and internal users. CTOs will also be in charge of moving their departments to common technology services.
      </p>

      <h3 class="heading-small">Job descriptions</h3>

      <p>To get the right skills into government, we need make sure we’re asking the right people to apply.
      </p>

      <p>You can choose from a set of template job descriptions for senior technology leaders and digital specialists.
      </p>

      <h3 class="heading-small">Scaling a service team</h3>

      <p>It’s natural for team size and composition to increase and decrease over the life of a service as the amount and type of work changes. The process of increasing or decreasing team size is known as ‘scaling’.
      </p>

      <h3 class="heading-small">Scaling during the life of a service</h3>

      <p>Delivery of digital services is best achieved through a small multidisciplinary team using an agile approach.
      </p>

      <p>However, you should recognise that you may need to scale up or down to meet your goals as you move through the phases in the life of the service.
      </p>

      <h3 class="heading-small">How a team might scale during the life of a service</h3>

      <p>Every service will have different needs over its lifetime. Typically during discovery and alpha you’ll need a small team to experiment, try stuff out and solve the harder potential problems on the project.
      </p>

      <p>Moving to beta and live, the team will be delivering a set of capabilities iteratively with regular user testing. You often need to scale up during beta, and sometimes in live when a change is big. You should only scale up when you already have a well-formed team delivering consistently.
      </p>

      <p>Scale according to service needs, instead of trying to scale across the entire organisation. This will mean you increase capacity only when you absolutely need to.
      </p>

      <p>You can scale up by adding people to existing teams or by creating new ones. It’s better to increase the size of existing teams until it becomes impractical. If this happens, consider adding more teams.
      </p>

      <p>Scale incrementally instead of resourcing to peak capacity from an early stage. New business case arrangements and use of procurement frameworks allow you to build your team as the work requires.
      </p>

      <p>It’s easy to forget about reducing teams and team size to match the work throughout the life of your service. When a service moves from beta to live, more user needs will have been met and there’s typically less remaining work. Whilst you must continuously, iteratively improve your service over time, you won’t always need the same size of team as you did during peak development, so think about how and when to scale down.
      </p>

      <p>You’ll need to plan to scale down carefully. Review the service roadmap, release plans and product backlog with your team to determine when and how to scale down. Consider whether it’s sensible to merge teams. Bear in mind that remaining team members will need time to reorganise their work.
      </p>
      

    </div>
  </div>

</main>

{{/content}}

{{/layout}}
