// Lists
// ==========================================================================

ul,
ol {
  list-style-type: none;
  padding: 0;
}

// Bulleted lists
.list-bullet {
  list-style-type: disc;
  padding-left: 20px;
}

// Numbered lists
.list-number {
  list-style-type: decimal;
  padding-left: 20px;
  @include ie-lte(7) {
    padding-left: 28px;
  }
}

.list-bullet,
.list-number {
  margin-top: 5px;
  margin-bottom: 20px;
}

.list-bullet li,
.list-number li {
  margin-bottom: 5px;
}

.list-contents li {
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid lightgrey;
}

.list-main-contents li {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid lightgrey;
  font-size: 21px;
}

.list-main-contents li a {
  font-weight: bold;
}

.list-main-contents li:hover {
  background-color: #f8f8f8;
}

.list-main-contents li p {
  margin-bottom: 0px;
}