{{<layout}}

{{$pageTitle}}
	GOV.UK Service Manual
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-two-thirds">
      <h1 class="heading-xlarge">Service Manual</h1>
      <p class="lede">
        The service manual helps service managers and digital delivery teams across government make services so good that people prefer to use them.
      </p>

			<form id="header-search" class="site-search" action="/search" method="get" role="search">
		  	<div class="header-search-content">
		    	<label for="search-main">Search GOV.UK</label>
		      <input type="search" name="q" id="search-main" title="Search" class="js-search-focus"><input class="submit" type="submit" value="Search">
				</div>
		  </form>
		</div>
	</div>

	<div class="grid-row">
  	<div class="column-third">
  		<h2 class="heading-medium"><a href="/agile-working/agile-home">Agile working</a></h2>
      <p>
        Create fast iterations of products based on the feedback of real users.   
      </p>
  		<!--
			<ul class="list-bullet">
				<li><a href="#">What is agile?</a></li>
				<li><a href="#">Why agile works</a></li>
				<li><a href="#">Moving to agile</a></li>
				<li><a href="#">Working in agile teams</a></li>
				<li><a href="#">Agile governance</a></li>
			</ul>
			-->
		</div>
  	<div class="column-third">
  		<h2 class="heading-medium"><a href="#">Assisted digital</a></h2>
  		<p>
  			Include people who aren't online or who have limited digital capability.
  		</p>
  	</div>
  	<div class="column-third">
  		<h2 class="heading-medium"><a href="#">Governance</a></h2>
  		<p>
  			Create the right conditions for delivery teams to build successful services.
  		</p>
  	</div>
	</div>

	<div class="grid-row">
  	<div class="column-third">
  		<h2 class="heading-medium"><a href="#">Making software</a></h2>
  		<p>
  			Build and test a digital service quickly, securely and collaboratively.
  		</p>
		</div>
  	<div class="column-third">
  		<h2 class="heading-medium"><a href="#">Measuring success</a></h2>
  		<p>
  			Check your service continually meets user needs in a cost-effective and efficient way.
  		</p>
  	</div>
  	<div class="column-third">
  		<h2 class="heading-medium"><a href="#">Operating services</a></h2>
  		<p>
  			Ensure your system is set up, hosted and tested to meet user demand.
  		</p>
  	</div>
  </div>
  <div class="grid-row">
    <div class="column-third">
      <h2 class="heading-medium"><a href="#">Technology</a></h2>
      <p>
        Build a system that is secure, sustainable, cost-effective and meets user needs.
      </p>
    </div>
    <div class="column-third">
      <h2 class="heading-medium"><a href="#">The team</a></h2>
      <p>
        Recruit, manage and work in a multidisciplinary agile team.
      </p>
    </div>
    <div class="column-third">
      <h2 class="heading-medium"><a href="#">User-centred design</a></h2>
      <p>
        Combine design and research to build user-focused services.
      </p>
    </div>
	</div>

	<a href="#" class="text-medium">View all topics</a>

</main>

{{/content}}

{{/layout}}
